<h1 class="text-center" style="margin-bottom: 1.5rem; margin-top: 1.5rem">You Found These!</h1>


<div class="fluid-container">
  <div class="row">
    <div class="col-4">
      <ul class="list-unstyled">
        <% @close_messages.each do |close_message| %>
          <% if Geocoder::Calculations.distance_between(["#{@user.latitude}".to_f,"#{@user.longitude}".to_f], ["#{close_message.latitude}".to_f,"#{close_message.longitude}".to_f]) == 0 || Geocoder::Calculations.distance_between(["#{@user.latitude}".to_f,"#{@user.longitude}".to_f], ["#{close_message.latitude}".to_f,"#{close_message.longitude}".to_f]) < 0.01 %>
            <div>
              <% if current_user.kept_messages.where(message_id: close_message.id).count == 0 %>
                  <li>
                    <button class= "btn btn-white kept-message-button close-message-button" data-latitude="<%= close_message.latitude %>" data-longitude="<%= close_message.longitude %>" data-content="<%= close_message.content %>"><%= close_message.content %></button>
                    <%= link_to("Keep?", "/kept_messages/#{close_message.id}/#{current_user.id}", method: :post, class: "btn btn-primary") %>
                  </li>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
      <div class="col-8">
        <div id="map" class="rounded"></div>
      </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var mymap = L.map('map').setView([<%= current_user.latitude %>, <%= current_user.longitude %>], 18);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}@2x.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: "<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
    }).addTo(mymap);

    var circle = L.circle([<%= current_user.latitude %>, <%= current_user.longitude %>], {
      color: 'green',
      fillColor: '#99ffcc',
      fillOpacity: 0.5,
      radius: 35
    }).addTo(mymap);

    var closeMessageButtons = $('.close-message-button');
    closeMessageButtons.on("click", function(event) {
      var closeLatitude = $(this).data('latitude');
      var closeLongitude = $(this).data('longitude');
      mymap.setView([closeLatitude, closeLongitude], 18);
      var markerId = $(this).data("marker_id");
      mymap._targets[markerId + 1].openPopup();
    });


    for (var i = 0; i < closeMessageButtons.length; i++ ) {
      var latitude = $(closeMessageButtons[i]).data('latitude');
      var longitude = $(closeMessageButtons[i]).data('longitude');
      var content = $(closeMessageButtons[i]).data('content');
      var keptMarker = L.marker([latitude, longitude]).addTo(mymap);
      keptMarker.bindPopup(content);
      $(closeMessageButtons[i]).data('marker_id', keptMarker._leaflet_id);
    }

  });

</script>