<div id="user-position">
  <%= @user.username %>
  <%= @user.address %>
</div>

<div>  
  <% @user.messages.each do |message| %>
    <div>
      <ul>
        <li>
          <p><%= message.content %></p>
          <p><%= message.latitude %></p>
          <p><%= message.longitude %></p>
        </li>
      </ul>
    </div>
  <% end %>
      
</div>
  
      
        



<%= form_tag("/messages", method: :post) do %>
  <textarea name="content" placeholder="Leave a Message"><%= @new_message.content %></textarea>
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <input type="hidden" name="latitude" value="<%= @user.latitude %>">
  <input type="hidden" name="longitude" value="<%= @user.longitude %>">
  <input type="submit" value="Drop">
<% end %>

<!-- <div id="demo">
  
</div>

<script>
  var x = document.getElementById("demo");
  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }
  }
  function showPosition(position) {
      x.innerHTML = "Latitude: " + position.coords.latitude + 
      "<br>Longitude: " + position.coords.longitude; 
  }
  console.log(navigator);
  navigator.geolocation.getCurrentPosition(function(position) {
    // console.log(position);
  });

  navigator.geolocation.watchPosition(function(position) {
    console.log(position);
  })
</script> -->