<%= @user.email %>
<%= @user.username %>
<%= @user.latitude %>
<%= @user.longitude %>
<%= @user.address %>

<br>


<% @user.messages.each do |message| %>
  
  <div>  
    <%= message.content %>
    <%= message.latitude %>
    <%= message.longitude %>
  </div>

<% end %>


<%= form_tag("/messages", method: :post) do %>
  <textarea name="content" placeholder="Leave a Message"><%= @new_message.content %></textarea>
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <input type="hidden" name="latitude" value="<%= @user.latitude %>">
  <input type="hidden" name="longitude" value="<%= @user.longitude %>">
  <input type="submit" value="Drop">
<% end %>