<h1 class="text-center" style="margin-bottom: 1.5rem; margin-top: 1.5rem">View Your Collection</h1>
<div class="fluid-container">
  <div class="row">
    <div class="col-4">
      <% if @kept_messages.length > 0 %>
        <ul class="list-unstyled">
          <% @kept_messages.each do |kept_message| %>
            <% if user_signed_in? && current_user.id == kept_message.user_id %>
                <li>
                    <button class="btn btn-white kept-message-button" data-latitude="<%= kept_message.message.latitude %>" data-longitude="<%= kept_message.message.longitude %>" data-content="<%= kept_message.message.content %>" data-marker_id=""><%= kept_message.message.content %></button>
                    <%= link_to("Delete", "/kept_messages/#{kept_message.id}", method: :delete, class: "btn btn-danger") %>
                </li>
            <% end %>
          <% end %>
      </ul>
      <% end %>
    </div>
    <div class="col-8">
      <div id="map" class="rounded"></div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    var mymap = L.map('map').setView([<%= current_user.latitude %>, <%= current_user.longitude %>], 18);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}@2x.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: "<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
    }).addTo(mymap);

    var circle = L.circle([<%= current_user.latitude %>, <%= current_user.longitude %>], {
    color: 'green',
    fillColor: '#99ffcc',
    fillOpacity: 0.5,
    radius: 50
}).addTo(mymap);

    var keptMessageButtons = $('.kept-message-button');
    keptMessageButtons.on("click", function(event) {
      var keptLatitude = $(this).data('latitude');
      var keptLongitude = $(this).data('longitude');
      mymap.setView([keptLatitude, keptLongitude], 18);
      var markerId = $(this).data("marker_id");
      mymap._targets[markerId + 1].openPopup();
    });


    for (var i = 0; i < keptMessageButtons.length; i++ ) {
      var latitude = $(keptMessageButtons[i]).data('latitude');
      var longitude = $(keptMessageButtons[i]).data('longitude');
      var content = $(keptMessageButtons[i]).data('content');
      var keptMarker = L.marker([latitude, longitude]).addTo(mymap);
      keptMarker.bindPopup(content);
      $(keptMessageButtons[i]).data('marker_id', keptMarker._leaflet_id);
    }

  });



</script>



